:root {
    
--ff-primary:'Itim', cursive;
--clr-100: #EF476F;
--clr-200: #FFD166;
--clr-300: #06D6A0;
--clr-400: #118AB2;
--clr-500: #073B4C;
--clr-light: #fdf0d5;
}

*,
::after,
::before {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

.hidden {
    display:none;
}

.page-wrapper {
    height: 100vh; 
    background-color: var(--clr-light);
    display:flex;
    flex-direction: column;

}

.sub-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    
}

#sidebar {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background-color: var(--clr-200);
    padding:1.5rem;
    border-radius: 1rem;
    border:5px solid var(--clr-500);
}
#sidebar-title {
    margin-bottom: 1.5rem;
}
#sidebar  p {
    font-size: 2rem;
    color:var(--clr-500);
}

#sidebar  button {
    font-size: 1.5rem;
    color:var(--clr-500);
}

.slider-container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#color-slider {
    width:100px;
    height:100px;
    
    
}

#color-slider:hover {
    transform: scale(1.1);
}


#grid-slider {
    -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}
#grid-slider::-webkit-slider-runnable-track,
#grid-slider::-moz-range-track{
    background:var(--clr-400);
    height:.5rem;
    border-radius:8px;
}
#grid-slider::-webkit-slider-thumb,
#grid-slider::-moz-range-thumb{
    background:var(--clr-100);
    height:1.5rem;
    width:1.5rem;
    border-radius:50%;
}
#grid-slider:focus {
    outline: none;
  }

#grid-slider:hover::-webkit-slider-thumb {
    background:var(--clr-300);
    height:1.5rem;
    width:1.5rem;
    border-radius:50%;
  }
  
#grid-slider:hover::-moz-range-thumb {
    background:var(--clr-300);
    height:1.5rem;
    width:1.5rem;
    border-radius:50%;
  }

button {
    padding:.5rem;
    background-color: var(--clr-light);
    font-size:1.5rem;
    border-radius:8px;

}

button:hover {
    transform: scale(1.1);
}

#pen-btn:hover {
    background-color: var(--clr-100);
    color:var(--clr-light);
}
#eraser-btn:hover {
    background-color: var(--clr-300);
    color:var(--clr-light);
}
#mystery-btn:hover {
    background-color: var(--clr-400);
    color:var(--clr-light);
}
#new-btn:hover {
    background-color: var(--clr-500);
    color:var(--clr-light);
}

#title {
    width:100%;
    text-align: center;
    font-size: 5rem;
    margin-top:1rem;
}

#main-content {
    height:600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#grid-container {
    width:600px;
    height:600px;
    display:grid;
    border:5px solid var(--clr-100);
}

.grid-square {
    border: 1px solid var(--clr-200);
    border-style: dotted;
}
   

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD166;
    width:100%;
    height:3rem;
    position:fixed;
    bottom:0px;
    gap:1rem;
    

}
#footer > p {
    font-size: 1.5rem;
    color:var(--clr-500)
}

#footer-img-wrap {
    display: flex;
    height:1.5rem;
    width:1.5rem;
    
}

.img-fluid {
    max-width: fit-content;
    height:auto;

}

a {
    text-decoration: none;
    color:var(--clr-500)
}

a:hover {
    color:var(--clr-100);
}

.clr-100 {
    color: var(--clr-100);
}
.clr-300 {
    color: var(--clr-300);
}
.clr-400 {
    color: var(--clr-400);
}
.clr-500 {
    color: var(--clr-500);
}